
<div class="container my-5 p-3">
    <div class="card shadow">
        <div class="card-body">
          <h1 class="text-center fw-bold mb-2">Liste des Examens</h1>
            <table class="table table-striped mb-4">
                <thead>
                    <tr>
                      <th scope="col">Id</th>
                      <th scope="col">Edudiant</th>
                      <th scope="col">Date</th>
                      <th scope="col">Note</th>
                      <th scope="col">Matiere</th>
                      <th scope="col" *ngIf="authiservice.isAdmin()">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let e of examens">
                      <th scope="row">{{e.id}}</th>
                      <td>{{e.etudiant}}</td>
                      <td>{{e.date}}</td>
                      <td>{{e.note}}</td>
                      <td>{{e.matiere.labelle}}</td>
                      <td *ngIf="authiservice.isAdmin()">
                        <a  routerLink="/editExamen/{{e.id}}" class="btn fw-bold text-black btn-warning me-3">edit</a>
                        <button (click)="delete(e.id,e.etudiant)" class="btn fw-bold text-black btn-danger">delete</button>
                      </td>
                    </tr>
                  </tbody> 
            </table>
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-end">
                <li class="page-item"  [class.disabled]="page===0" (click)="changePage(-1)" >
                  <div class="page-link"  aria-label="Previous">
                    <span class="fw-bold fs-5" aria-hidden="true">&laquo;</span>
                  </div>
                </li>
                <li class="page-item " *ngFor="let i of tablePages" [class.active]="i===page" (click)="setPage(i)">
                  <a class="page-link fw-bold fs-5" >{{i+1}}</a>
                </li>
                <li class="page-item" [class.disabled]="page===totalPages-1" (click)="changePage(1)" >
                  <div class="page-link" aria-label="Next">
                    <span class="fw-bold fs-5" aria-hidden="true">&raquo;</span>
                  </div>
                </li>
              </ul>
            </nav>
        </div>
    </div>
</div>
